In [1]:
#importing pandas for data cleaning
import pandas as pd

In [2]:
#Loading the "movies" csv file and store it in a variable called "df"
df = pd.read_csv("movies.csv")

C:\Users\Youssef Atef\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#Checking for the sahpe of the dataframe
df.shape

(85855, 22)

In [4]:
#printing the columns of the dataframe
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [5]:
#printing the first 3 rows of the dataframe
df.head(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0

In [6]:
#Checking how many null values in each column
df.count()

imdb_title_id            85855
title                    85855
original_title           85855
year                     85855
date_published           85855
genre                    85855
duration                 85855
country                  85791
language                 85022
director                 85768
writer                   84283
production_company       81400
actors                   85786
description              83740
avg_vote                 85855
votes                    85855
budget                   23710
usa_gross_income         15326
worlwide_gross_income    31016
metascore                13305
reviews_from_users       78258
reviews_from_critics     74058
dtype: int64

In [7]:
#Dropping the rows with null values in the following columns as they will be the most important to our analysis
df = df.dropna(subset = ["budget","usa_gross_income","worlwide_gross_income"])

In [8]:
#Checking for the non null values for each column
df.count()

imdb_title_id            8126
title                    8126
original_title           8126
year                     8126
date_published           8126
genre                    8126
duration                 8126
country                  8125
language                 8118
director                 8125
writer                   8121
production_company       8089
actors                   8125
description              8109
avg_vote                 8126
votes                    8126
budget                   8126
usa_gross_income         8126
worlwide_gross_income    8126
metascore                6648
reviews_from_users       8112
reviews_from_critics     8101
dtype: int64

In [9]:
#checking for the shape of the dataframe
df.shape

(8126, 22)

In [10]:
pd.options.display.max_columns = 22

In [11]:
#Printing the first 3 rows of the dataframe
df.head(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
165,tt0010323,Il gabinetto del dottor Caligari,Das Cabinet des Dr. Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,German,Robert Wiene,"Carl Mayer, Hans Janowitz",Decla-Bioscop AG,"Werner Krauss, Conrad Veidt, Friedrich Feher, ...","Hypnotist Dr. Caligari uses a somnambulist, Ce...",8.1,55601,$ 18000,$ 8811,$ 8811,NaN,237.0,160.0
245,tt0012190,I quattro cavalieri dell'Apocalisse,The Four Horsemen of the Apocalypse,1921,1923-04-16,"Drama, Romance, War",150,USA,None,Rex Ingram,"Vicente Blasco Ibáñez, June Mathis",Metro Pictures Corporation,"Pomeroy Cannon, Josef Swickard, Bridgetta Clar...",An extended family split up in France and Germ...,7.2,3058,$ 800000,$ 9183673,$ 9183673,NaN,45.0,16.0
506,tt0017136,Metropolis,Metropolis,1927,1928-10-01,"Drama, Sci-Fi",153,Germany,German,Fritz Lang,"Thea von Harbou, Thea von Harbou",Universum Film (UFA),"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",In a futuristic city sharply divided between t...,8.3,156076,DEM 6000000,$ 1236166,$ 1349711,98.0,495.0,208.0

In [12]:
#Checking if there is a special character in the columns related to money
df.budget.value_counts()[200:220]

$ 5100000        4
$ 40000          4
GBP 3500000      4
INR 400000000    4
$ 82000000       4
INR 120000000    4
EUR 15000000     4
$ 102000000      4
$ 15000          4
$ 76000000       4
$ 79000000       4
$ 950000         4
$ 125000         4
$ 180000         4
EUR 3600000      3
EUR 1800000      3
$ 3400000        3
$ 7300000        3
$ 70000          3
GBP 5000000      3
Name: budget, dtype: int64

In [13]:
#This function take one cell as a paramter and check what currency code in this cell and replace it with empty string,
#and then multiply the number with a specific value to convert it into dollars
#I got the values of the currencies using this website --> https://www.xe.com/
def CurrencyConverter(x):
    if "$" in x:
        return x.replace("$", "")
    if "DEM" in x:
        return int(x.replace("DEM",""))*0.6
    if "CAD" in x:
        return int(x.replace("CAD",""))*0.78
    if "EUR" in x:
        return int(x.replace("EUR",""))*1.18
    if "GBP" in x:
        return int(x.replace("GBP",""))*1.38
    if "INR" in x:
        return int(x.replace("INR",""))*0.01
    if "AUD" in x:
        return int(x.replace("AUD",""))*0.73
    if "CHF" in x:
        return int(x.replace("CHF",""))*0.74
    if "JPY" in x:
        return int(x.replace("JPY",""))*0.009
    if "CNY" in x:
        return int(x.replace("CNY",""))*0.15
    if "NZD" in x:
        return int(x.replace("NZD",""))*0.15
    if "THB" in x:
        return int(x.replace("THB",""))*0.03
    if "HUF" in x:
        return int(x.replace("HUF",""))*0.0033
    if "HKD" in x:
        return int(x.replace("HKD",""))*0.12
    if "MXN" in x:
        return int(x.replace("MXN",""))*0.05
    if "ZAR" in x:
        return int(x.replace("ZAR",""))*0.07
    if "SEK" in x:
        return int(x.replace("SEK",""))*0.11
    if "KRW" in x:
        return int(x.replace("KRW",""))*0.00085
    if "DKK" in x:
        return int(x.replace("DKK",""))*0.15
    if "FRF" in x:
        return int(x.replace("FRF",""))*0.17
    if "SGD" in x:
        return int(x.replace("SGD",""))*0.74
    if "ITL" in x:
        return int(x.replace("ITL",""))*0.0006
    if "RUR" in x:
        return int(x.replace("RUR",""))*0.01
    if "IEP" in x:
        return int(x.replace("IEP",""))*1.49
    if "NOK" in x:
        return int(x.replace("NOK",""))*0.11
    if "BEF" in x:
        return int(x.replace("BEF",""))*0.02
    if "ISK" in x:
        return int(x.replace("ISK",""))*0.0078
    if "ESP" in x:
        return int(x.replace("ESP",""))*0.007
    if "ATS" in x:
        return int(x.replace("ATS",""))*0.085
    if "BRL" in x:
        return int(x.replace("BRL",""))*0.19
    if "CZK" in x:
        return int(x.replace("CZK",""))*0.04
    if "PLN" in x:
        return int(x.replace("PLN",""))*0.25
    if "CLP" in x:
        return int(x.replace("CLP",""))*0.001
    if "ARS" in x:
        return int(x.replace("ARS",""))*0.01
    if "ILS" in x:
        return int(x.replace("ILS",""))*0
    if "FIM" in x:
        return int(x.replace("FIM",""))*0.19
    if "VEB" in x:
        return int(x.replace("VEB",""))*0.000000000000002494898
    if "NGN" in x:
        return int(x.replace("NGN",""))*0.002
    if "DOP" in x:
        return int(x.replace("DOP",""))*0.017
    return int(x)

In [14]:
#Creating a new columns and applying the currency converter function to each cell to make it suitable to use for our analysis
df["budget_"] = df.budget.apply(lambda x:CurrencyConverter(x))
df["usa_gross_income_"] = df.usa_gross_income.apply(lambda x:CurrencyConverter(x))
df["worlwide_gross_income_"] = df.worlwide_gross_income.apply(lambda x:CurrencyConverter(x))

In [15]:
#Creating a usa and world wide revenue columns by subtracting the income from the budget
df["usa_revenue"] = df.apply(lambda x: int(x.usa_gross_income_) - int(x.budget_), axis = 1)
df["worlwide_revenue"] = df.apply(lambda x: int(x.worlwide_gross_income_) - int(x.budget_), axis = 1)

In [16]:
#Some columns has many values in it, I thought of spliting these columns by delimiter but there will be many columns we won't need
#so I decided to only take the main value of each of these columns
df["Main Actor"] = df.actors.apply(lambda x:str(x).split(",")[0])
df["Main Director"] = df.director.apply(lambda x:str(x).split(",")[0])
df["Main Writer"] = df.writer.apply(lambda x:str(x).split(",")[0])
df["Main genre"] = df.genre.apply(lambda x:str(x).split(",")[0])
df["Main Language"] = df.language.apply(lambda x:str(x).split(",")[0])
df["Main Country"] = df.country.apply(lambda x:str(x).split(",")[0])

In [17]:
#Printing the dataframe columns
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'budget_',
       'usa_gross_income_', 'worlwide_gross_income_', 'usa_revenue',
       'worlwide_revenue', 'Main Actor', 'Main Director', 'Main Writer',
       'Main genre', 'Main Language', 'Main Country'],
      dtype='object')

In [18]:
#Some columns with numerical values does not have an int/float data type
df["year"].dtype

dtype('O')

In [19]:
#So I converted the following columns to an int/float data types
df["budget_"] = df["budget_"].astype(float)
df["year"] = df["year"].astype(int)
df["usa_gross_income_"] = df['usa_gross_income_'].astype(float)
df['worlwide_gross_income_'] = df['worlwide_gross_income_'].astype(float)

In [20]:
#Checking for the datatype of the "year" column
df["year"].dtype

dtype('int32')

In [21]:
#Creating an index column starting from one to the length of the dataframe
df['movie_ID'] = range(1, len(df) + 1)

In [22]:
#Slicing the dataframe by the columns we will need for the analysis and storing it in a new variable
df_ = df[['movie_ID','title', 'year', 'date_published',
       'genre','Main genre', 'duration', 'country', 'Main Country','language','Main Language', 'director','Main Director', 'writer','Main Writer',
       'production_company', 'actors','Main Actor', 'description', 'avg_vote', 'votes', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'budget_',
       'usa_gross_income_', 'worlwide_gross_income_', 'usa_revenue',
       'worlwide_revenue',]]

In [23]:
#Converting the dataframe into a csv file and saving it to the current directory
df_.to_csv('data.csv',index = False)

In [24]:
#This function takes a company name as a parameter and then create a sliced dataframe with this production comapny only,
#and then saving it to the current directory as a csv file
def Production_comp(comp_name):
    df_ = df[df['production_company'] == comp_name]
    df_.to_csv(comp_name + ".csv",index = False)

In [25]:
Production_comp("Universal Pictures")
Production_comp("Walt Disney Pictures")
Production_comp("Warner Bros.")